<ion-header>

  <ion-navbar>
    <ion-title>question</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div>Score : {{score}}</div>
<div> {{ question }}</div>

<div class="answer">
  <div>{{answer_text}}</div>
  <div class="img">
    <img src="{{answer_img}}" alt="">
  </div>
  <div class="desc">{{answer_desc}}</div>
</div>

<div class="next-btn" [ngStyle]="{'display':display_content ? 'none' : 'block' }">
  <button ion-button *ngIf="questions.length !== 0" (click)="nextQuestion()">Question suivante</button>
  <button ion-button *ngIf="questions.length === 0" (click)="goToScores()">Aller aux scores</button>
</div>

<div class="act-btn" [ngStyle]="{'display':display_content ? 'block' : 'none' }">
  <button ion-button (click)="checkValue(true)" class="vrai">Vrai</button>
  <button ion-button (click)="checkValue(false)" class="faux">Faux</button>
</div>
</ion-content>
